/* hi this is made by vansh */
/* hi this is made by vansh */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: #393636; */
    background-image: url('abstract-blue-background-simple-design-for-your-website-free-vector.jpg');
    background-position: center;
    /* background-size: cover; */
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
}

.nav{
    background: rgb(114, 10, 225);
}
.welcome{
    color: rgb(250, 250, 250);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;padding: 10px;
    display: flex;
    justify-content: center;
}
#display{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    width: 40%;
    min-height: 200px;
    height: fit-content;
    background-color: rgba(39, 40, 122, 0);
    /* background: none; */
}
#control{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-top: 20px;
}
.control-btn{
    display: block;
    width:25%;
    height:50px;
    background: rgb(255, 255, 255);
    font-size: larger;
    font-weight: bolder;
}
#today-task{
    display: flex;
    justify-content: center;
}
.parent{
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
}
#control-parent{
    background-color: rgba(39, 40, 122, 0);
    width: 40%;
    max-width: 300px;
    height: fit-content;
    border: 2px solid black;
    border-radius: 15px;
}
#input-parent{
    display: flex;
    justify-content: center;
    padding: 10px;
}
#input{
    width: 85%;
    height: 50px;
}