*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('wp9409808-animations-4k-wallpapers.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
}
.nav{
    background: rgba(60, 58, 58, 0.386);
}
.welcome{
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;padding: 10px;
    display: flex;
    justify-content: center;
}
#display{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    width: 30%;
    min-height: 200px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0);
    /* background: none; */
}
#control{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-top: 20px;
}
.control-btn{
    display: block;
    width:25%;
    height:50px;
    border-radius: 15%;
    font-size: larger;
    font-weight: bolder;
}
#add{
    background: rgba(58, 240, 73, 0.449);
    
}
#clear-all{
    background-color: rgba(58, 240, 234, 0.449);
}
#tbh{
    background-color: rgba(240, 143, 58, 0.449);

}
#today-task{
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.parent{
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
}
#control-parent{
    background-color: rgba(39, 40, 122, 0);
    width: 40%;
    max-width: 300px;
    height: fit-content;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
}
#input-parent{
    display: flex;
    justify-content: center;
    padding: 10px;
}
#input{
    width: 85%;
    height: 50px;
}
#time-parent{
    display: flex;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 2.8vw;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
#time{
    display: flex;
    justify-content: end;
}
#day{
    display: flex;
    justify-content: end;
}